doctype html
html
  head
    meta(charset='utf-8')
    title Taxi Driver
    link(rel="stylesheet" type="text/css" href="/stylesheets/main.css")
  body
    div(id='container')

      label(for='name' class='col-lg-2 control-label')
        a(href='/users') Users
        =" | "
        a(href='/makers') Makers

      <img src="/images/maker.jpg" width=100% height=100%>

      h2 클라우드 펀딩 인출하기

      form(action='/makers/withdraw' method='post')

        label(for='name' class='col-lg-2 control-label') 메인계정 비번
        input(type='text' name='passphase' placeholder='passphase')

        button(id='button' onClick="loader.style.display='block';submit();") 인출하기

        div(id='loader' style='display:none;')
          <img src='/images/ring-spinner.gif'>
